<div id="page_container" class="index clearfix">
<h1>CUP Wire article stream</h1>
<p>This stream contains the newest articles available for publication on the CUP wire.</p>
<ol id="articles_list">
	<%= render @articles %>
</ol>
</div>